/* styles.css */
.button-menu {
    display: flex;
    justify-content: center;
  }
  
  .menu-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .menu-button:hover {
    background-color: rgb(from color r g b);
  }